<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <a class="navbar-brand text-warning" href="#">DR3WEBDEV</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
     aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-primary" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">More Action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Some More Action</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disable" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <!-- End of the navigation section -->


  <div class="jumbotron jumbotron-billboard bg-dark text-white">
    <h1 class="text-warning display-3">DR3/WEB/DEV<br/><small class="text-primary" id="smallText">ANGULAR DEVELOPMENT</small></h1>
  </div>
  <div class="container text-muted">
      <div class="row social-area">
        <div class="col-md-4 col-sm-12">
          <i class="fa fa-free-code-camp" aria-hidden="true"></i>
            <h3>Free Code Camp</h3>
            <p>Pellentesque in ipsum id orci porta dapibus. Curabitur arcu erat, accumsan id imperdiet et,
            porttitor at sem. Curabitur aliquet quam id dui posuere blandit.</p>
        </div>
          <div class="col-md-4 col-sm-12">
            <i class="fa fa-github" aria-hidden="true"></i>
              <h3>GitHub</h3>
              <p>Pellentesque in ipsum id orci porta dapibus. Curabitur arcu erat, accumsan id imperdiet et,
              porttitor at sem. Curabitur aliquet quam id dui posuere blandit.</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <i class="fa fa-youtube" aria-hidden="true"></i>
              <h3>YouTube</h3>
              <p>Pellentesque in ipsum id orci porta dapibus. Curabitur arcu erat, accumsan id imperdiet et,
               porttitor at sem. Curabitur aliquet quam id dui posuere blandit.</p>
          </div>
        </div>
  </div>
          <!-- end of Social Section -->

  <div class="container-fluid text-center text-muted px-5 py-5" id="progIntro">
        <h3 class="display-3 mb-5" id="angProHeading">Angular Programming</h3>
      <div class="row">
        <div class="card col-md-4 col-sm-12">
          <div class="card-body">
            <h4 class="card-title">Intro Text</h4>
            <p>Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi,
              pretium ut lacinia in, elementum id enim. Donec sollicitudin molestie malesuada.</p>
              <a href="#" class="btn btn-outline-warning">Click for the image</a>
          </div>
        </div>
        <div class="card col-md-4 col-sm-12">
          <div class="card-body">
            <h4 class="card-title">Intro Text</h4>
            <p>Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi,
              pretium ut lacinia in, elementum id enim. Donec sollicitudin molestie malesuada.</p>
              <a href="#" class="btn btn-outline-warning">Click for the image</a>
          </div>
        </div>
        <div class="card col-md-4 col-sm-12">
          <div class="card-body">
            <h4 class="card-title">Intro Text</h4>
            <p>Pellentesque in ipsum id orci porta dapibus. Quisque velit nisi,
              pretium ut lacinia in, elementum id enim. Donec sollicitudin molestie malesuada.</p>
              <a href="#" class="btn btn-outline-warning">Click for the image</a>
          </div>
        </div>
      </div>
  </div>
          <!--About the Team Section -->
  <div class="container-fluid text-center text-muted px-5 py-5" id="aboutInfo">
      <h3 class="display-4">About The Team</h3>
      <nav class="nav nav-pills mt-5 text-center flex-column flex-md-row" id="pills-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Von R.</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">David R.</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Ashanti B.</a>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <p>Donec sollicitudin molestie malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in ipsum id orci porta dapibus.
             Sed porttitor lectus nibh. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <p>Donec sollicitudin molestie malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in ipsum id orci porta dapibus. Sed porttitor lectus nibh. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.
             Cras ultricies ligula sed magna dictum porta. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          <p>Donec sollicitudin molestie malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in ipsum id orci porta dapibus. Sed porttitor lectus nibh. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta.
             Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>
        </div>
      </div>
  </div>

              <!--End of The About Team Section -->
    <div class="container-fluid bg-dark text-white px-5 py-5">
      <h3 class="text-center text-muted display-3">Contact Us!</h3>
      <form>
          <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Email:</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Password:</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
              </div>
            </div>
      </form>
    </div>







